# Dependencies
node_modules/
.vite/
.venv/
venv/
__pycache__/
*.py[cod]

# Build outputs
build/
dist/
coverage/
.next/

# Logs & OS / Editor
*.log
.DS_Store
*.swp

# Secrets
.env
.env.local
*.env
!.env.example
